<!DOCTYPE html>
<html>
    <head>
        <title>Votação</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1"> 
    </head>
    <body>
        <div class="container-fluid">
            <h1>Votação</h1>
            <b>{{ msg }}</b>
            {% if previa %}
                <a href="/previa">Confira a prévia!</a>
            {% endif %}         
            <h3>Vote:</h3>   
            <form method="GET">                
                
                {% for key, value in candidatos.items %}            
                    <input type="radio" name="voto" value="{{ key }}">{{ value.nome }}</input><br/>                            
                {% endfor %}
                <button type="submit">Enviar</button>                      
            </form>      
        </div>
    </body>
</html>